{% extends "::base.html.twig" %}

{% block title %}BookshelfBundle:Author:showBestBooks{% endblock %}

{% block body %}
    <h1>Best books of {{ author.name }}:</h1>
    {% for book in books %}
        - <a href="{{ path('bookshelf_book_show', {"id": book.id}) }}">{{ book.name }}</a><br>
    {% endfor %}
{% endblock %}
