{% extends "::base.html.twig" %}

{% block title %}BookshelfBundle:Review:create{% endblock %}

{% block body %}
    <h1>New review creator.</h1>
    {{ form_start(form, {action:path("bookshelf_review_create", {"bookId" : bookId})}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
