{% extends "::base.html.twig" %}

{% block title %}BookshelfBundle:Review:show{% endblock %}

{% block body %}
    {% if review.isDeleted != 1 %}
        <h1>{{ review.subject }}</h1>
        <h3><i>This is a review of a book "{{ review.book.name }}".</i></h3>
        <hr>
        <p>{{ review.review }}</p>
    {% else %}
        <p>Sorry, that review is no longer with us... *sob*</p>
    {% endif %}
{% endblock %}
